@model IEnumerable<Model.AGRO_CONTRACT>

@{
    ViewBag.Title = "Заказы";
}

<div class="list-group list-cust">
    <h5 class="list-group-item active">Оформленные</h5>
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th>
                    Наименование
                </th>
                <th>
                    Дата
                </th>
            </tr>

            @{ int i = 1; }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Заказ №", "Order", new { id = item.ID })  @(i++)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DATE_START)
                    </td>
                </tr>
            }

        </table>

    </div>
</div>



